body{
  background-image: url("../images/natfl020.jpg"); /* Path to your image */
  background-repeat: repeat; /* Repeat the image across the page */
  background-size: auto; /* Use the original size of the image */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-weight: bold;
 
}
.alligator{
  display: visible;
}
.normal{
  display: none;
}
.about-photo {
  vertical-align: top;
}
img{
  width: 150;
  height: 150;
}
a{
  font-size: 1.5em; 
}
ul {
  list-style-type: none;
}
.center{
  text-align: center;
}
p{
  font-size:x-large;
  margin: 0 20vw 0 5vw;
}
.hero-button{
  text-align: center;
}
.hero-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#aboutimg{
  margin: 0 5vw 0 7vw;
}
.project-container{
  padding: 2rem;
}
.project-box {
  margin-left: 2rem; /* Adds 1rem of left margin */
  margin-top: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Initial shadow */

  border-top: 5px solid rgba(0, 0, 0, 0.3); /* Top border becomes gray */
  border-left: 5px solid rgba(0, 0, 0, 0.3); /* Left border becomes gray */
  border-bottom: 5px solid rgb(223, 223, 223,0.3); ; /* Bottom border becomes white */
  border-right: 5px solid rgb(223, 223, 223,0.3); ; /* Right border becomes white */
}

.project-box:hover {
  transform: translateY(-2px); /* Slight upward movement for pop-up effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Enhanced shadow effect */
  border-top: 5px solid rgb(223, 223, 223,0.3); /* Top border becomes white */
  border-left: 5px solid rgb(223, 223, 223,0.3); /* Left border becomes white */
  border-bottom: 5px solid rgba(0, 0, 0, 0.3); /* Bottom border shadow effect */
  border-right: 5px solid rgba(0, 0, 0, 0.3); /* Right border shadow effect */
}


.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column ;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6); 
  pointer-events: none;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 11;
  
}