
body{
  --main-color: #1e1e1e;
  --secondary-color: #FFA501;
  --third-color:#f5f5f5;
  --lighter-secondary-color: #facf7e;
  background-color: var(--main-color);
  padding-top: 1dvh;
  font-family: Arial, Helvetica, sans-serif;

}
p,h3,h4,h5,h6{
  color: var(--third-color);
}
.no-margin{
  margin: 0;
}
#name{
  font-size: 10em;
}
h1,h2{
  font-weight: bold;
  font-family: "Inter Tight", serif;
  color: var(--secondary-color);
}
section:not(#hero) {
 
  text-align: center; 
}
#hero {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  padding: 20px; /* Space around the content */
  height: 100vh; /* Full viewport height */
}
.contact{
  flex-direction: column;
}
.hero-content {
  display: flex;
  justify-content: space-evenly; /* Creates space between the text and the button */
  align-items: center; /* Ensures vertical alignment */
  width: 50%; /* Keeps the content in the middle, adjust as needed */
}

.hero-text {

  text-align: left; /* Left-align the text */
}

.hero-button {
  text-align: left; 
}
a {
  line-height: 1em;
  text-decoration: none;
  letter-spacing: 0.4em;
  display: block;
  transition: all ease-out 300ms;
  font-size: 1.2em; 
  color:var(--secondary-color); 
}

a:hover {
  color: var(--lighter-secondary-color); 
  font-size: 2em; 
  font-weight: bold;
}
.alligator{
  display: none;
}
.normal{
  display: visible;
}
.sidebar {
  position: fixed;
  width: 5%;
  height: 50vh;
  font-size: 0.65em;
}
.nav {
  position: relative;

  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 1em 0;

    a {
      line-height: 1em;
      text-decoration: none;
      letter-spacing: 0.4em;
      display: block;
      transition: all ease-out 300ms;
      font-size: 1.2em; 
      color:var(--secondary-color); 
    }

    &.active a {
      color: var(--lighter-secondary-color); 
      font-size: 2em; 
      font-weight: bold;
    }

    &:not(.active)::after {
      opacity: 0.2;
    }

    &:not(.active):hover a {
      color: var(--lighter-secondary-color);
    }

   
  }
}
